<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-hostedwebapp"
    version="0.3.1">
    <name>HostedWebApp</name>
    <description>Hosted Web App Plugin</description>
    <license>MIT License</license>
    <keywords>cordova,manifest,hosted,web,manifoldjs</keywords>
    <repo>https://github.com/manifoldjs/ManifoldCordova.git</repo>
    <issue>https://github.com/manifoldjs/ManifoldCordova/issues</issue>

    <dependency id="cordova-plugin-whitelist" version=">=1.0.1" />
    <dependency id="cordova-plugin-network-information" version=">=1.0.0" />

    <hook type="before_prepare" src="scripts/updateConfigurationBeforePrepare.js" />
    <hook type="after_prepare" src="scripts/updateConfigurationAfterPrepare.js" />
    <hook type="after_prepare" src="scripts/replaceWindowsWrapperFiles.js" />
    <hook type="before_plugin_rm" src="scripts/rollbackWindowsWrapperFiles.js" />

    <js-module src="www/hostedWebApp.js" name="hostedwebapp">
        <clobbers target="hostedwebapp" />
    </js-module>
  
    <asset src="www/hostedapp-bridge.js" target="hostedapp-bridge.js" />

    <engines>
        <engine name="cordova-windows" version="<=4.3.9" />
        <engine name="cordova-ios" version="<=4.1.9" />
        <engine name="cordova-android" version="<=5.1.9" />
    </engines>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="HostedWebApp" >
                <param name="android-package" value="com.manifoldjs.hostedwebapp.HostedWebApp"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file target="res/xml/config.xml" parent="/*/feature[@name='NetworkStatus']">
            <param name="onload" value="true" />
        </config-file>

        <source-file src="src/android/HostedWebApp.java" target-dir="src/com/manifoldjs/hostedwebapp" />
    </platform>

    <!-- windows -->
    <platform name="windows">
      <js-module src="src/windows/HostedWebAppPluginProxy.js" name="HostedWebAppPluginProxy">
        <merges target="" />
      </js-module>
    </platform>

    <!-- ios -->
    <platform name="ios">
      <config-file target="config.xml" parent="/*">
        <feature name="HostedWebApp">
          <param name="ios-package" value="CDVHostedWebApp"/>
          <param name="onload" value="true" />
        </feature>
      </config-file>
      <config-file target="config.xml" parent="/*/feature[@name='NetworkStatus']">
          <param name="onload" value="true" />
      </config-file>

      <header-file src="src/ios/CDVHostedWebApp.h" />
      <source-file src="src/ios/CDVHostedWebApp.m" />
    </platform>
</plugin>
