<?xml VERSION="1.0" ENCODING="UTF-8"?>
<WIDGET ID="com.example.hello" VERSION="0.0.1">
  <NAME>HelloWorld</NAME>
  <DESCRIPTION>
      A sample Apache Cordova application that responds to the deviceready event.
  </DESCRIPTION>
  <AUTHOR EMAIL="dev@callback.apache.org" HREF="http://cordova.io">
      Apache Cordova Team
  </AUTHOR>
  <CONTENT CONTENT="index.html" />
  <ACCESS ORIGIN="http://com.example.hello/home" />
  <ACCESS ORIGIN="http://com.example.hello/services" />
  <PREFERENCE NAME="Orientation" VALUE="default" />
  <PREFERENCE NAME="Fullscreen" VALUE="false" />
</WIDGET>
